In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#  Extraccion de datos 
df =  pd.read_csv("../data/sharks-clean.csv", encoding="latin1")

#### ¿Se puede sobrevivir al ataque de un tiburon ?

In [3]:
df['Fatal_(Y/N)'].value_counts()

N          4301
Y          1389
Unknown      71
2017          1
M             1
Name: Fatal_(Y/N), dtype: int64

 Filtramos el data frame solo por supervivientes.

In [4]:
live_df =df[ df['Fatal_(Y/N)'] == 'N' ]

In [5]:
live_df.head()

,Unnamed: 0,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_(Y/N),Time,Species
0,0,2018.06.25,25-Jun-2018,2018.0,Boating,Usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No Injury To Occupant, Outrigger Canoe And Pad...",N,18H00,White Shark
1,1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson Mcneely,F,11,Minor Injury To Left Thigh,N,14H00 -15H00,NaN
2,2,2018.06.09,09-Jun-2018,2018.0,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury To Left Lower Leg From Surfboard Skeg,N,07H45,NaN
3,3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Male,M,NaN,Minor Injury To Lower Leg,N,NaN,2 M Shark
4,4,2018.06.04,04-Jun-2018,2018.0,Provoked,Mexico,Colima,La Ticla,Free Diving,Gustavo Ramos,M,NaN,Lacerations To Leg & Hand Shark Provoked Incident,N,NaN,"Tiger Shark, 3M"

In [6]:
# Contabilizar el numero de supervivientes 

len(live_df )

4301

In [7]:
#Total de muestras: al tener datos que generan ruido nos quedamos unicamente con los afirmativo y negtivos.
Muestra = len(live_df)+ len(df['Fatal_(Y/N)'] == 'Y')
Muestra

10605

In [8]:
f'la probabilidad de supervivencia tras ser atacado por un tiburon es del {round(100*len(live_df)/Muestra,2)}%'

'la probabilidad de supervivencia tras ser atacado por un tiburon es del 40.56%'

¿Cual es el pais con mayor supervivencia tras el ataque de un tiburon?

In [9]:
country_df = live_df.Country.value_counts()

In [10]:
# % de ataques por pais
plive_df = country_df.apply(lambda x:f'{round(100*x/country_df.sum(),2)}%')
plive_df

Usa                   42.9%
Australia            21.51%
South Africa           9.5%
Bahamas                2.2%
New Zealand           2.13%
                      ...
Curacao               0.02%
Mediterranean Sea     0.02%
Egypt / Israel        0.02%
Iran / Iraq           0.02%
Belize                0.02%
Name: Country, Length: 146, dtype: object

In [11]:
# Buscamos el area mas segura para sobrevivir
live_df [['Country', 'Area']]['Area'].value_counts()

Florida                 918
New South Wales         334
California              242
Hawaii                  213
Queensland              210
                       ...
Red Sea Protectorate      1
Fife                      1
Woodlark Islands          1
Santa Catarina State      1
Vera Cruz                 1
Name: Area, Length: 510, dtype: int64

¿Que especie mata mas ?

In [12]:
# Supervivencia ante los 5 mas agresivos   
supervivencia_agresivas = live_df.Species.value_counts()
supervivencia_agresivas.iloc[:5]

White Shark    116
Tiger Shark     49
4' Shark        40
Bull Shark      38
6' Shark        38
Name: Species, dtype: int64

In [13]:
# mortalidad ante los 5 mas agresivos 
dead_df =df[ df['Fatal_(Y/N)'] == 'Y' ]
mortalidad_agresivas = dead_df.Species.value_counts()
mortalidad_agresivas.iloc[:5]

White Shark          44
Tiger Shark          25
Bull Shark           16
3.7 M [12'] Shark     9
3 M [10'] Shark       8
Name: Species, dtype: int64

Parece que tanto el tiburon tigre como el gran blanco son los mas agresivos ...¿atacaran de de manera intencionada?

In [14]:
# generamos un df con la palabra clave correspondiente por si ubiese algun registro mal tipeado
white_df = df[df['Species'].str.contains('White', na=False, regex=False)]

tigre_df = df[df['Species'].str.contains('Tiger', na=False, regex=False)]

In [15]:
w_attack_df = white_df['Type'].value_counts().head()
w_attack_df

Unprovoked    505
Boating        67
Boat           56
Provoked       26
Invalid         7
Name: Type, dtype: int64

In [16]:
tigre_df['Type'].value_counts().head()

Unprovoked      225
Provoked         15
Sea Disaster     12
Boating           7
Boat              3
Name: Type, dtype: int64

A primera vista parece que hambos realizan los ataques sin una provocacion previa aunque el gran blanco destaca por su agresividad atacando a objetos en superficie y claramente no es recomendable provocarle.

¿Que Actividad suelen practicar las personas que sufren el ataque del gran Blanco en su Pais?

In [36]:
abp = white_df.groupby(by=['Country','Activity']).agg(act_count=('Activity','count'))

In [37]:
abp.sort_values("act_count",ascending=False).iloc[:10]

                            act_count
Country      Activity
Usa          Surfing               63
Australia    Surfing               42
South Africa Surfing               39
             Spearfishing          22
Australia    Fishing               19
South Africa Swimming              18
Usa          Kayaking              16
             Swimming              12
South Africa Body Boarding         12
Australia    Swimming              11

# Meme para tiburones

In [26]:
duplicados_df = df[df['Activity'].duplicated(keep=False)]['Activity'].tolist()
set_duplicados = set(duplicados_df)
set_duplicados

{'"Flying Tiger" Transport Plane Went Down With 5 Men Onboard',
 '.',
 'Air Disaster',
 'Aircraft Crashed Into Sea',
 'Attempting To Kill A Shark With Explosives',
 'Bathing',
 'Bathing In River',
 'Beach Seine Netting',
 'Boat',
 'Boat Capsized',
 'Boat Capsized, Swimming Ashore',
 'Boat Swamped',
 'Boat With 5 Men Capsized While Returning To The Amerique',
 'Boating',
 'Body Boarding',
 'Body Surfing',
 'Body Surfing / Treading Water',
 'Body-Boarding',
 'Boogie Boarding',
 'Cage Diving',
 'Canoeing',
 'Clamming',
 'Cleaning Fish',
 'Collecting Shells',
 'Competing In The Woodvale Atlantic Rowing Race',
 'Crabbing',
 'Crayfishing',
 'Cruising',
 'Dangling Feet In The Water',
 'Dived For A Coin',
 'Diving',
 'Diving Around Anchored Liner',
 'Diving For Abalone',
 'Diving For Beche-De-Mer',
 'Diving For Coins',
 'Diving For Crayfish',
 'Diving For Lobsters',
 'Diving For Sponges',
 'Diving For Trochus',
 'Diving For Trochus Shell',
 'Diving From Canoe',
 'Diving Into Water',
 'Diving Off Jetty',
 'Diving?',
 'Escaping From Alacatraz',
 'Feeding Fish',
 'Feeding Sharks',
 'Fell Into The Water',
 'Fell Overboard',
 'Finning The Shark That Bit Him',
 'Fishing',
 'Fishing (Seining)',
 'Fishing Boat',
 'Fishing Boat Exploded & Sank',
 'Fishing For Bluefish',
 'Fishing For Cod',
 'Fishing For Kob',
 'Fishing For Lobsters',
 'Fishing For Mackerel',
 'Fishing For Prawns',
 'Fishing For Sharks',
 'Fishing For Snapper',
 'Fishing For Squid',
 'Fishing For Tuna',
 'Fishing For Whiting',
 'Fishing From Surf Ski',
 'Fishing On A Boat',
 'Five Men On Makeshift Raft After Their 10 M Fishing Boat  Capsized And Sank In Rough Seas. Survivors Rescued After  7.5 Hours In The Water',
 'Floating',
 'Floating In Inner Tube',
 'Floating On A Raft',
 'Floating On Back',
 'Floating On His Back',
 'Free Diving',
 'Free Diving & Spearfishing',
 'Free Diving / Spearfishing',
 'Free Diving For Abalone',
 'Free Diving For Trochus',
 'Free Diving, Spearfishing',
 'Free-Diving',
 'Freediving',
 'Freedom Swimming',
 'Hard Hat Diving',
 'Hardhat Diving',
 'Hmas Parramatta Torpedoed & Sunk By The U-559',
 'Hoisting Shark Aboard Fishing Boat',
 'Hookah Diving',
 'Hookah Diving For Abalone',
 'Hookah Diving For Sea Urchins',
 'Hunting Crayfish',
 'Jet Skiing',
 'Jumped Into The Water',
 'Jumped Overboard',
 'Jumping',
 'Kayak Fishing',
 'Kayaking',
 'Kayaking / Fishing',
 'Kite Boarding',
 'Kite Surfing',
 'Kiteboarding',
 'Kitesurfing',
 'Knocked Overboard',
 'Launching Rowboat Through The Surf',
 'Lifesaving Drill',
 'Murder',
 'Netting Shrimp',
 'Ocean Racing',
 'Paddle Boarding',
 'Paddleskiing',
 'Paddling',
 'Paddling On Surfboard',
 'Pearl Diving',
 'Playing',
 'Playing In The Surf',
 'Playing In The Water',
 'Removing Shark From Net',
 'Rowing',
 'S2N Navy Scout Plane Went Down, E.H. Almond & Lieut A.G. Reading In Water',
 'Sailing',
 'Scuba Diving',
 'Scuba Diving & Spearfishing',
 'Scuba Diving (But On Surface)',
 'Scuba Diving (Submerged)',
 'Scuba Diving For Abalone',
 'Sculling',
 'Sea Disaster',
 'Seine Netting',
 'Shark Diving',
 'Shark Fishing',
 'Shark Tagging',
 'Shark Watching',
 'Shell Diving',
 'Shipwreck',
 'Shooting Sharks',
 'Sitting In Shallows',
 'Sitting In The Water',
 'Sitting On Gunwale Of Boat',
 'Sitting On Surfboard',
 'Skin Diving',
 'Skindiving',
 'Snorkeling',
 'Spearfishing',
 'Spearfishing (Free Diving)',
 'Spearfishing / Free Diving',
 'Spearfishing / Scuba Diving',
 'Spearfishing / Scuba Diving (At Surface)',
 'Spearfishing Competition',
 'Spearfishing On Scuba',
 'Spearfishing Using Scuba',
 'Spearing Fish',
 'Splashing',
 'Sponge Diving',
 'Stand-Up Paddleboarding',
 'Standing',
 'Standing / Surfing',
 'Standing In Knee-Deep Water',
 'Standing In Waist-Deep Water',
 'Suicide',
 'Sup',
 'Surf Fishing',
 'Surf Skiing',
 'Surf-Skiing',
 'Surfing',
 'Surfing (Lying Prone On His Board)',
 'Surfing (Sitting On His Board)',
 'Surfing, Collided With Shark',
 'Surfing, Paddling Seawards',
 'Swimming',
 'Swimming / Body Surfing',
 'Swimming / Escaping Imprisonment',
 'Swimming / Snorkeling',
 'Swimming / Wading',
 'Swimming After His Hat',
 'Swimming Alongside Noaa Research Vessel Discoverer',
 'Swimming Ashore From Capsized Boat',
 'Swimming From The New Venture',
 'Swimming Near Jetty',
 'Swimming Or Snorkeling',
 'Swimming Or Surfing',
 'Swimming, Ducking For Shells In Water 0.9 M Deep',
 'Tagging Sharks',
 'Teasing A Shark',
 'The Christie V Sank On 11/6/1988, Survivors Were Adrift On A Dinghy',
 'Their 9 M Launch Was Run Down By A 25,000-Ton Japanese Freighter  On The Night Of 3-11-1977 & They Drifted, Clinging To An Icebox For 2 Days',
 'Thrown Overboard',
 'Transatlantic Rowing',
 'Treading Water',
 'U.S. Airforce C124 Enroute From Hickham Air Base To Japan Went Down. The 3 Survivors Fashioned Raft From Mailbags  & Were Rescued 3 Days After The Crash.',
 'Unknown',
 'Wade Fishing',
 'Wade-Fishing',
 'Wading',
 'Walking',
 'Walking Out Of The Water After Surfing',
 'Washing',
 'Washing His Feet',
 'Windsurfing',
 'Wreck Of The Schooner Pohoiki',
 nan}

In [31]:
# Muerte por escapar de la prision 
df[df['Activity'].str.contains('Imprisonment', na=False, regex=False)]

,Unnamed: 0,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_(Y/N),Time,Species
5784,5784,1883.09.14.R,Reported 14-Sep-1883 (Probably Happened Ca. 18...,1883.0,Unprovoked,Australia,Tasmania,Between Port Arthur Penal Colony & Forestier P...,Swimming / Escaping Imprisonment,Owen,M,NaN,Fatal,Y,NaN,NaN
5893,5893,1873.00.00,Nov- Or Dec-1873,1873.0,Unprovoked,Cuba,Havana Province,Havana Harbor,Swimming / Escaping Imprisonment,Franz Mayer,M,27,"Legs Severed Bitten, Later Surgically Amputated",N,NaN,NaN

In [23]:
#Muerte por accidente aereo y quizas comido por un tiburon 
df[df['Activity'].str.contains('Air', na=False, regex=False)]

,Unnamed: 0,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_(Y/N),Time,Species
504,504,2014.09.00,Sep-2014,2014.0,Unprovoked,Spain,Catalonia,Salou,Playing With An Air Mattress,Male,M,16,Lacerations To Right Hand,N,NaN,NaN
1158,1158,2009.02.08,08-Feb-2009,2009.0,Sea Disaster,Usa,Puerto Rico,Quebradillas,Air Disaster,Occupant Of A Cessna 206,M,NaN,It Is Probable That All 5 Passengers Died On I...,Y,NaN,NaN
1708,1708,2004.01.03.A,03-Jan-2004,2004.0,Sea Disaster,Egypt,Sinai Peninsula,Off Sharm El-Sheikh,Air Disaster. Flash Airlines Boeing 737 Crashe...,135 Passengers & 13 Crew,NaN,NaN,"No Survivors, Sharks Scavenged On Remains",Y,03H00,NaN
1865,1865,2002.04.30,30-Apr-2002,2002.0,Unprovoked,Australia,South Australia,"Smoky Bay, Near Ceduna, On The Eyre Peninsula",Scallop Diving (Using Surface-Supplied Air & A...,Paul Buckland,M,23,"Fatal, Torso & Leg Bitten",Y,12H40,"White Shark, 6M [20']"
2054,2054,2000.05.13,13-May-2000,2000.0,Sea Disaster,New Caledonia,South Province,Mont Dore,Air Disaster - Piper Aircraft Crashed Into The...,3 People,NaN,NaN,Sharks Prevented Recovery Of Remains,Y,NaN,Tiger Sharks & Bull Sharks (20 Sharks In All)
2331,2331,1995.11.25.A,25-Nov-1995,1995.0,Unprovoked,Northern Arabian Sea,NaN,NaN,Fell Off Aircraft Carrier,"Zacharay Mayo, A U.S. Marine",M,NaN,"Minor Injuries, Bites On Fingers & Toes. Rescu...",N,NaN,NaN
2933,2933,1983.07.05,05-Jul-1983,1983.0,Unprovoked,Usa,Florida,"Riviera Beach, Palm Beach County",Floating On Air Mattress,Steven Osterman,M,17,"No Injury, Shark Bit Air Mattress, Deflating It",N,NaN,NaN
3133,3133,1977.12.31,31-Dec-1977,1977.0,Sea Disaster,Usa,Hawaii,2 Miles Off Keahole Airport,"Swimming, After Single-Engine Aircraft Went Do...",Harold Corbett,M,49,Feet Lacerated,N,Night,NaN
3404,3404,1970.01.16,16-Jan-1970,1970.0,Sea Disaster,Egypt,Red Sea,A Few Miles South Of Port Suez,Air Disaster,Pilot Of Israeli Skyhawk,M,NaN,Fatal,Y,NaN,NaN
3591,3591,1966.01.14,14-Jan-1966,1966.0,Sea Disaster,Columbia,NaN,Off Cartagena,Colombian (Avianca) Dc-4 Airliner Plunged Int...,NaN,NaN,NaN,"10 Survived, 51 Perished.",Y,NaN,Shark Involvement Not Confirmed
3603,3603,1965.11.03.B,03-Nov-1965,1965.0,Invalid,Panama,Caribbean Sea,Golfo De Los Mosquitos,Argentine Air Force C-54,68 People Missing (Crew & Passengers),NaN,NaN,2 Life Preservers Had Been Bitten By Sharks,NaN,07H32,Shark Involvement Not Confirmed
3633,3633,1965.03.23,23-Mar-1965,1965.0,Invalid,Usa,Puerto Rico,60 Miles Offshore North Of San Juan,Aircraft Exploded,15 Royal Canadian Airforce Crew & 1 Passenger,M,NaN,"All 16 Onboard Perished, Recovery Efforts Hamp...",NaN,11H30,Shark Involvement Prior To Death Was Not Confi...
3811,3811,1962.06.25,25-Jun-1962,1962.0,Invalid,Usa,Florida,"Fernandina Beach, Nassau County",U.S. Airforce Crewman Reported Missing After B...,Male,M,NaN,Fatal,NaN,NaN,Shark Involvement Not Confirmed
3878,3878,1961.09.23,23-Sep-1961,1961.0,Unprovoked,Mid Atlantic Ocean,165 Miles From Bermuda,NaN,"Survived Us Naval Aircraft Crash, Climbing Onb...",Patrick Imhof,M,22,Right Shoulder Blade & Back Lacerated,N,06H00,"Oceanic Whitetip Shar,; Identified By Dr. W.C...."
3940,3940,1961.00.00.A,1961,1961.0,Sea Disaster,Usa,Hawaii,Maui,Light Aircraft Ditched At Sea,5 People Swimming For Shore (Pilot & 4 Passeng...,NaN,NaN,3 Of The 4 Passengers Killed By Sharks,Y,NaN,NaN
3953,3953,1960.10.25,25-Oct-1960,1960.0,Sea Disaster,Usa,California,"Off Point Mugu, Ventura County",Ejected From F3H-2 Aircraft,"Lt Cmdr. Lawrence Ernest Scheer Usn, Pilot",M,36,"No Injury, Shark Hit His Foot & Circled",N,14H00,NaN
3962,3962,1960.09.22,22-Sep-1960,1960.0,Sea Disaster,Pacific Ocean,180 Miles Southeast Of Okinawa,NaN,R5D Aircraft Went Down With 29 On Board,Male,M,NaN,One Body Sighted But Not Recovered Due To Shar...,N,NaN,NaN
3967,3967,1960.08.29,29-Aug-1960,1960.0,Sea Disaster,Senegal,Cap-Vert Peninsula,Off Dakar,Air Disaster: Crash Of Air France Super Conste...,NaN,NaN,NaN,All 63 On Board Perished When The Aircraft Hit...,Y,NaN,NaN
3968,3968,1960.08.25,25-Aug-1960,1960.0,Invalid,Usa,Texas,30 Miles East Of Corpus Christi,Aircraft Crashed Into Sea,Naval Aviator,M,NaN,"Partial Human Remains Spotted By Helicopter, S...",NaN,NaN,Shark Involvement Prior To Death Was Not Confi...
4016,4016,1960.02.03,03-Feb-1960,1960.0,Invalid,Usa,Hawaii,Maui,S2F-1 Airplane Crashed Immediately After Carri...,Crew Of Anti-Submarine Squadron 23,NaN,NaN,"Of Crew Of 4, Only 1 Person Survived (Broken L...",NaN,02H00,Shark Involvement Prior To Deaths Was Not Conf...
4018,4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner With 9 People Aboard Went ...,NaN,NaN,NaN,"As Searchers Approached Wreckage, Sharks Circl...",N,NaN,NaN
4026,4026,1960.00.00.H,Early Summer 1960,1960.0,Invalid,Caribbean Sea,NaN,"Between Key West, Florida & Guantanamo Bay, Cuba",Aircraft Crashed Into Sea,"Male, Airline Pilot",M,NaN,"Questionable. Recovered Flight Gear Was ""Compl...",NaN,NaN,Shark Involvement Prior To Death Was Not Confi...
4046,4046,1959.11.16,16-Nov-1959,1959.0,Invalid,Usa,Louisiana,120 Miles Southeast Of New Orleans,National Airlines Dc7B Enroute From Miami To L...,All On Board Perished In The Crash,NaN,NaN,Body Recovery Efforts Were Hampered By Large S...,NaN,01H32,Invalid
4122,4122,1959.00.00.E,1959,1959.0,Provoked,Atlantic Ocean,NaN,NaN,Paddling & Sailing From Buenos Aires To Miami,Mirco Tapavica,M,NaN,Hooked Shark Bit His Arm Provoked Incident,N,NaN,"Tiger Shark, 12' ?"
4130,4130,1958.12.13,13-Dec-1958,1958.0,Unprovoked,Usa,Hawaii,"Near Twin Islands Off Lanikai, O'Ahu (East Coast)",Surfing On Air Mattress,William S. Weaver,M,15,"Fatal, Leg Severed",Y,13H00,"Tiger Shark, 4.6 M To 7.6 M [15' To 25']"
4150,4150,1958.07.04.B,04-Jul-1958,1958.0,Sea Disaster,Pacific Ocean,Between Hawaii & Wake Island,600 Miles Northwest Of Honolulu,U.S. Airforce C124 Enroute From Hickham Air Ba...,"Roy A. Robinson, Sr.",M,NaN,Fatal,Y,10H45,Sharks Averaged 1.8 M [6'] In Length
4151,4151,1958.07.04.A,04-Jul-1958,1958.0,Sea Disaster,Pacific Ocean,Between Hawaii & Wake Island,600 Miles Northwest Of Honolulu,U.S. Airforce C124 Enroute From Hickham Air Ba...,"Captain Jonathan Brown, Pilot",M,31,Left Shoulder Bitten,N,10H25,Sharks Averaged 1.8 M [6'] In Length
4187,4187,1957.11.08,08-Nov-1957,1957.0,Sea Disaster,Pacific Ocean,"1,000 Miles East Of Hawaii",NaN,Air/Sea Disaster Pan-American Airlines Stratoc...,NaN,NaN,NaN,Navy Personnel Recovered 19 Shark-Scavenged Bo...,N,NaN,NaN
4250,4250,1956.06.28,28-Jun-1956,1956.0,Unprovoked,Australia,Torres Strait,"Fishman'S Island (Near Port Moresby, Png)","Line Fishing From Lakotoi, Saw Shoal Of Fish, ...",Kila,M,NaN,"6"" Gashes In Foot & Leg",N,NaN,2.3 M [7'] Shark
4252,4252,1956.06.20,20-Jun-1956,1956.0,Sea Disaster,Mid Atlantic Ocean,NaN,Venezuelan Aircraft Lost,Air/Sea Disaster,NaN,NaN,NaN,Fatal X 6,Y,NaN,NaN
4321,4321,1954.10.07,07-Oct-1954,1954.0,Sea Disaster,Usa,Virginia,150 Miles Off Cape Henry,"American Freighter Mormackite, Bound From Buen...",Second Cook,M,NaN,Rescue Aircraft Saw Bodies In The Water Being ...,Y,NaN,NaN
4365,4365,1953.09.18,18-Sep-1953,1953.0,Sea Disaster,Usa,Georgia,200 Miles East Of Savannah,Aircaft Exploded,Sgt. Larry Charles Graybill,M,NaN,Hand Bitten,N,NaN,NaN
4373,4373,1953.07.11,11-Jul-1953,1953.0,Sea Disaster,Pacific Ocean,330 To 350 Miles East Of Wake Island,NaN,Royal Hawaiian Skymaster Dc-6B Aircraft Went D...,NaN,NaN,NaN,Recuers Fought Sharks For The Bodies,N,NaN,NaN
4396,4396,1952.12.14,14-Dec-1962,1952.0,Invalid,Guatemala,NaN,NaN,Air Disaster,Soledad Castellanos - Or - Norma Fig...,F,NaN,It Is Probable That All Onboard (2 Men & 2 Wom...,NaN,NaN,Shark Involvement Prior To Death Was Not Confi...
4534,4534,1948.12.05,05-Dec-1948,1948.0,Sea Disaster,North Pacific Ocean,Between Kwajalein Atoll & Johnston Island,500 Nautical Miles Southwest Of Johnston Island,Air/Sea Disaster Involving C-54 Air Force Tran...,NaN,M,NaN,"32 Survived, 5 Perished; Sharks Fed On The Dea...",Y,Dark,NaN
4552,4552,1948.02.13,13-Feb-1948,1948.0,Sea Disaster,Usa,Texas,"Gulf Of Mexico Between Brownsville & Carmen, M...","C47 Aircraft Carrying 5,000 Lbs Of Ice Ditched...","Pilot, Neil Womack",M,NaN,Fatal. Womack Was Injured When Plane Went Down...,Y,NaN,NaN
4660,4660,1944.00.00.B,1944,1944.0,Sea Disaster,Italy,Adriatic Sea,NaN,B-24 Aircraft Crashed Into The Sea,"Male, A Member Of The Crew",M,NaN,Fatal,Y,NaN,NaN
4668,4668,1943.08.00,Aug-1943,1943.0,Sea Disaster,Italy,40 Miles South Of Naples,Tyrrhenian Sea,Flying Fortress Bomber Aircraft Went Down Afte...,"Lieutenant Robert D. Kurz (U.S.), Co-Pilot",M,NaN,"Bitten On Arms, Hands & Feet While Awaiting Re...",N,NaN,NaN
4669,4669,1943.07.18,18-Jul-1943,1943.0,Sea Disaster,Usa,Florida,"40 Miles Off Islamorada, Near Cay Sal",Treading Water After Survivng Crash Of The Us ...,Petty Officer Isadore Stessel,M,NaN,Fatal,Y,NaN,NaN
4682,4682,1943.03.02.A,02-Mar-1943 To 07-Mar-1943,1943.0,Sea Disaster,Papua New Guinea,Morobe Province,Huon Gulf,Known As The Battle Of The Bismarck Sea : 8 J...,NaN,NaN,NaN,"An Estimated 3,000 To 7,000 Japanese Troops P...",Y,NaN,NaN
4695,4695,1942.11.13.C,13-Nov-1942,1942.0,Sea Disaster,Solomon Islands,NaN,Off Guadalcanal,"Anti-Aircraft Cruiser Uss Atlanta (Cl,-05) Tra...","Sam Hicks, A Gunner",M,NaN,"Injured By Sharks, But Managed To Swim Ashore ...",N,NaN,NaN
4706,4706,1942.08.08,8-Aug-1942,1942.0,Sea Disaster,Solomon Islands,NaN,NaN,Japanese Aircraft Shot Down. He Was One Of Two...,Tamaki Amano,M,NaN,Lacerations To Left Arm,N,NaN,NaN
4744,4744,1941.06.00,Jun-1941,1941.0,Sea Disaster,Pacific Ocean,Off Coast Of Ecuador,Between Esmeraldas & Salinas,"Ditched Aircraft, 3 Men In The Water. Swam For...",Colonel B. & Sub-Lieutenant D.,M,NaN,"1 Man Survived & Was Rescued, Sharks Took The ...",Y,17H30,NaN
5045,5045,1930.05.11,11-May-1930,1930.0,Invalid,Costa Rica,Limón Province,Off Porto Limon,Air Disaster,NaN,NaN,NaN,Shark Involvement Prior To Death Was Not Confi...,NaN,NaN,Shark Involvement Prior To Death Unconfirmed
6272,6272,Nd.0031,World War Ii,0.0,Sea Disaster,Papua New Guinea,Madang Province,Off Lae,"Aircraft Ditched In The Sea, Swimming Ashore",Male,M,NaN,Shark Bumped Him,N,NaN,NaN

In [33]:
# ataques mirandose los pies 
df[df['Activity'].str.contains('Washing His Feet', na=False, regex=False)]

,Unnamed: 0,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_(Y/N),Time,Species
1105,1105,2009.07.24.R,Reported 24-Jul-2009,2009.0,Unprovoked,Kenya,Mombasa,Likoni Channel,Washing His Feet,Male,M,NaN,Fatal,Y,NaN,NaN
6077,6077,1837.01.17,17-Jan-1837,1837.0,Unprovoked,Australia,New South Wales,Macleay River,Washing His Feet,Alfred Australia Howe,M,12,"Fatal Injured By Shark, Died Of Tetanus",Y,Evening,NaN

In [35]:
# si te tiran por la borda 

df[df['Activity'].str.contains('Thrown Overboard', na=False, regex=False)]

,Unnamed: 0,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_(Y/N),Time,Species
5696,5696,1890.12.27.R,Reported 27-Dec-1890,1890.0,Unprovoked,British New Guinea,Woodlark Islands,Off Panamota,Thrown Overboard,Tetebara,M,18,Arm Bitten,N,NaN,NaN
5697,5697,1890.10.25.R,Reported 25-Oct-1890,1890.0,Unprovoked,Atlantic Ocean,NaN,NaN,Thrown Overboard,Captain Lavarello,M,NaN,Fatal,Y,NaN,NaN
5803,5803,1882.00.00.B,1882,1882.0,Unprovoked,Usa,Florida,"In The Bay Near The Naval Yard At Pensacola, E...","During ""An Exhibition"" He Was Tied In Sack & T...",John T. Clark,M,NaN,"No Injury, Sack Rammed By Shark & Shark Haras...",N,NaN,NaN
6068,6068,1840.07.22.R,Reported 22-Jul-1840,1840.0,Unprovoked,Usa,South Carolina,"Charleston Harbor, Charleston County",Accidentally Thrown Overboard & Treading Water...,Crew Member Of A Pilot Boat,M,NaN,"Fatal, Body Was Not Recovered",Y,NaN,Said To Be A 7.6 M [25'] Shark